

.episode-card h4{
  margin: 0;
}

.episode-card > span {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
}

.episode-card div {
  display: flex;
  justify-content: space-between;
}

.episode-card div span:nth-child(1) {
  margin-right: 10px;
}