.details {
    display: flex;
    flex-direction: column;
}

.details-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.details-header-text {
    margin-left: 30px;
    font-size: 26px;
    font-weight: 500;

}

.details-header-text p{
    margin-top: 0;
    margin-bottom: 10px;
}


.details-header-text p:nth-child(1){
    font-size: 32px;
}

.episodes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}