.container-l {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    color: black;
}

.container-l .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.primary {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    background-color: #0A4D9D;
    color: white;
}


button.primary[disabled] {
    background-color: rgb(128, 134, 140);
    cursor: not-allowed;
}

button.danger {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    background-color: #8d2020;
    color: white;
}

@media (max-width: 1280px) {
    .container-l {
        max-width: 960px;
    }
}

@media (max-width: 960px) {
    .container-l {
        max-width: 720px;
    }
}

@media (max-width: 720px) {
    .container-l {
        max-width: 100%;
    }
}